<section class="advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages-yacht">
      <ol class="advantages-list">
        <li class="advantages-item">
          <h3 class="advantages-header">01</h3>
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">02</h3>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">03</h3>
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-header">04</h3>
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying the
            outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="advantages-img">
      <picture>
        <source
          srcset="
            ../img/advantages/advantages-desctop1.png 1x,
            ../img/advantages/advantages-desctop2.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ../img/advantages/advantages-laptop1.png 1x,
            ../img/advantages/advantages-laptop2.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ../img/advantages/advantages-mob1.png 1x,
            ../img/advantages/advantages-mob2.png 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ../img/advantages/advantages-mob320-1.png 1x,
            ../img/advantages/advantages-mob320-2.png 2x
          "
          media="(max-width:374px)"
        />
        <img
          src="../img/advantages/advantages-desctop1.png"
          class="advantages-image"
          alt="advantages"
        />
      </picture>
    </div>
  </section>