<div class="mob-menu" data-menu>
  <div class="mob-menu-container">
    <div class="mob-header">
      <span class="logo">yachtjet</span>
      <button class="mob-btn-close" data-menu-close>
        <svg class="icon-close" width="28" height="28">
          <use href="../img/icon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <!-- #region mobile nav -->
    <div class="nav">
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a href="#about" class="mob-menu-link">ABOUT</a>
          </li>
          <li class="mob-menu-item">
            <a href="#yachts" class="mob-menu-link">YACHTS</a>
          </li>
          <li class="mob-menu-item">
            <a href="#reviews" class="mob-menu-link">REVIEWS</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- #region social -->
    <div class="mob-social">
      <ul class="mob-social-list">
        <li class="mob-social-item">
          <a
            class="mob-social-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="mob-icon" width="20" height="20">
              <use href="../img/icon.svg#icon-instagtam"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-item">
          <a
            class="mob-social-link"
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
          >
            <svg class="mob-icon" width="20" height="20">
              <use href="../img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-item">
          <a
            class="mob-social-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
          >
            <svg class="mob-icon" width="20" height="20">
              <use href="../img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
